<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>AlayaTodo</title>

    <link rel="stylesheet" href="http://localhost/cdn/css/bootstrap.min.css">
    <!--link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"-->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home glyphicon-white"></span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('_todo.todos') }}">Todo list</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
              <li>
                <a href="{{ url_for('_auth.logout') }}">
                  <span class="glyphicon glyphicon-user"></span>
                  {{ current_user.username }} Logout
                </a>
              </li>
            {% else %}
              <li><a href="{{ url_for('_auth.login') }}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div id="alert-flash" class="alert alert-{{category}} alert-dismissible fade in" role=alert>
            <button type=button class=close data-dismiss=alert aria-label=Close><span aria-hidden=true>&times;</span></button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="container">
      <div class="row">
        {% block content %}{% endblock %}
      </div>
    </div>

    <script src="http://localhost/cdn/jquery-1.12.4.min.js"></script>
    <script src="http://localhost/cdn/js/bootstrap.min.js"></script>

    <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script-->

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>