<div style="display: flex; justify-content: flex-end;">
  <div>
    <form method="get" action="{{ url_for('_todo.todos', page=page_num, per_page=per_page ) }}">
      <div class="btn-group" role="group" aria-label="...">
        {% if todo_filter_by == 'completed' %}
        <button type="button" name="todo_filter_by" value="completed" class="btn btn-primary">Completed</button>
        <button type="submit" name="todo_filter_by" value="all" class="btn btn-default">All</button>
        {% else %}
        <button type="submit" name="todo_filter_by" value="completed" class="btn btn-default">Completed</button>
        <button type="button" name="todo_filter_by" value="all" class="btn btn-primary">All</button>
        {% endif %}
      </div>
    </form>
  </div>

  <div style="margin-left: 20px;">
    <select style="width: 50px;" class="form-control" onchange="alayaToDo.reloadPage(event)">
      {% for n in per_page_list %}
        {% if per_page == n %}
        <option value="{{n}}" selected>{{n}}</option>
        {% else %}
        <option value="{{n}}">{{n}}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>

  {% if todos.has_next or todos.has_prev %}
  <div style="margin-left: 20px;">
    <nav aria-label="navigation">
      <ul style="margin: 0" class="pagination">
        {% for page_num in todos.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if todos.page == page_num %}
              <li class="active"><a href="{{ url_for('_todo.todos', page=page_num, per_page=per_page ) }}">{{ page_num }}</a></li>
            {% else %}
              <li><a href="{{ url_for('_todo.todos', page=page_num, per_page=per_page ) }}">{{ page_num }}</a></li>
            {% endif %}
          {% else %}
            <li><a href="#">...<span class="sr-only">(current)</span></a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
  {% endif %}
</div>